<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Android 11+ package visibility: needed to see the Shizuku manager app. -->
    <queries>
        <package android:name="moe.shizuku.privileged.api" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Lets this app prompt to install the APK it just downloaded, without the user having to
         separately toggle "install unknown apps" for whatever app they used to sideload us. -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DiscoveryActivity"
            android:exported="false"
            android:label="@string/discover_title" />

        <activity
            android:name=".ChangelogActivity"
            android:exported="false"
            android:label="@string/changelog_title" />

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>

</manifest>
